{
  "entity" : {
    "status" : "ACTIVE",
    "createdBy" : "{{ createdBy }}",
    "updatedBy" : "{{ updatedBy }}",
    "createTime": {{ createTime }},
    "updateTime": {{ createTime }},
    "version" : 0,
    "typeName": "aws_s3_bucket",
      "attributes": {
        "owner": "{{ owner }}",
        "createtime": {{ createTime }},
        "qualifiedName": "{{ qualifiedName }}",
        "encryptionType": "none",
        "description": "{{ description }}",
        "partner": "none",
        "domain": "{{ domain }}",
        "isEncrypted": false,
        "name": "{{ name }}",
        "region": "none"
      }
  }
}
